

    /* general styles */
	/* --base-size: 20px; */

  /* font */
  @font-face {
    font-family: TimesNow-ExtraLight;
    src: url(fonts/TimesNow-ExtraLight.ttf);
}



/* variable list */
:root {

    /* menu style */
    --menu-bg: #0E0F0F;
    --menu-font: 'DM Mono';
    --menu-text-color: white;
    --menu-font-size: 0.9rem;
    --menu-padding: 1rem;
    --menu-underline-width: 1px;
    --circle-size: 15px;
    --circle-spacing: 0.5rem;

    /* general style */
    --base-size: 20px;
    --arrow-color: white;
    --book-color: white;

    /* font style */
    --heading-font: Instrument Serif;
    --subheading-font: Instrument Serif;
    --block-quote-font: Instrument Serif;
    --body-font: Hanken Grotesk;
    --book-visual-font-1: Marcellus;
    --book-visual-font-2: Lustria;
    --book-type-font-1: Chivo;
    --book-color-font-1: 'Crimson Text';

    /* color style */
    --body-bg-color: #0E0F0F;
    --bg-color-1: #feb832;
    --bg-color-2: yellow;
    --bg-color-3: yellow;
    --highlight-color: yellow;
    --book-border: #656565;
    --body-color: white;

    /* h1 style */
    --h1-font-size: 3rem;
    --h1-margin: 0;
    --h1-color: white;
    --h1-letter-specing: 1px;
    --h1-line-height: 3rem;
  
    /* h2 */
    --h2-font-size: 2rem;
    --h2-margin: 0;
    --h2-color: white;
    --h2-letter-specing: 1px;
    --h2-line-height: 4rem;
  
    /* h3 */
    --h3-font-size: 1.2rem;
    --h3-font-weight: 400;
    --h3-padding-top: 0.5rem;
    --h3-padding-bottom: 0.5rem;
    --h3-margin: 0;
    --h3-color: white;
    --h3-letter-specing: 0.5px;
  
    /* paragraph style */
      --p-font-size: 1rem;
      --p-font-weight: 200;
      --p-padding-top: 0.5rem;
      --p-padding-bottom: 0.5rem;
      --p-line-height: 1.5rem;
      --p-letter-spacing: 0.5px;
      --p-color: white;
  }

  @media (min-width: 1280px) {
    :root {
    --h1-font-size: 4.5rem;
    --h1-margin: 0;
    --h1-color: white;
    --h1-letter-specing: 1px;
    --h1-line-height: 4.5rem;
    }
  }

body {
    margin: 1rem;
    background-color: var(--body-bg-color);

    scroll-behavior: smooth;
  }

/* footer {
    font-family: var(--menu-font);
    font-size: var(--menu-font-size);
}

#top {
    font-size: 1.5rem;
    background-color: white;
    color: var(--body-bg-color);
    padding: 1rem;
    position: fixed;
    right: 2vw;
    bottom: 2vh;
    } */

  /* circle colors */
  .home {
    --circle-color: #1FDE86;
  }
  
  .colophon {
    --circle-color: #948EFF;
  }
  
  .visual {
    --circle-color: #EAFF01;
  }
  
  .type {
    --circle-color: #F4320C;
  }
  
  .interaction {
    --circle-color: #FF8BCD;
  }
  
  .reading {
    --circle-color: #0095FF;
  }

  /* Sticky menu styles */

  .menu {
    position: sticky;
    z-index: 10;
    top: 0;
  }

  .menu-grid {
    display: grid;
    gap: 0.7rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    list-style: none;
    margin: 0;

    text-align: left;
    /* position: fixed; */
    top: 0;
    background-color: var(--menu-bg);
    /* z-index: 1; */
    padding: 0.5rem 1rem 1rem 1rem;
    margin: auto;
    /* width: 100svw; */
    align-content: center;
  }

  /* Mobile Menu */
  /* @media (min-width: 375px) {
    .mobile-menu {
        display: flex;
    }

    .menu-grid {
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        height: 50vh;
        background-color: black;
        align-items: flex-start;
    }
  } */

  /* Desktop media query*/
  @media (min-width: 1280px) {
    .menu-grid {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(6, 1fr);
    list-style: none;
    padding: 0;
    margin: 0;
    /* width: 100%; */
    height: 80px;
    text-align: left;
    /* position: fixed;
    top: 0;
    z-index: 1; */
    background-color: var(--menu-bg);
    
    padding: var(--menu-padding);
    }
  }

  .menu-item {
    font-family: var(--menu-font);
    font-size: var(--menu-font-size);
    text-transform: uppercase;
    color: var(--menu-text-color);
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    padding-top: 1rem;
    opacity: 0;
    transform: translateY(20px);
    animation: slideIn 0.6s ease-out forwards;
  }

  .menu-item.current {
    text-decoration: underline;
  }

  .current.home {
    color: var(--circle-color);
  }

  .colophon:visited {
    text-decoration: underline var(--circle-color)
  }

  .current.visual {
    color: var(--circle-color);
  }

  .current.type {
    color: var(--circle-color)
  }

  .current.interaction {
    color: var(--circle-color);
  }

  .current.reading {
    color: var(--circle-color)
  }

  /* Tablet media query*/
  @media (min-width: 900px) {
    .menu-grid {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(6, 1fr);
    list-style: none;
    padding: 0;
    margin: 0;
    /* width: 100%; */
    height: 80px;
    text-align: left;
    position: sticky;
    top: 0;
    background-color: var(--menu-bg);
    z-index: 1;
    padding: var(--menu-padding);
    }
  }

  .menu-item {
    font-family: var(--menu-font);
    font-size: var(--menu-font-size);
    text-transform: uppercase;
    color: var(--menu-text-color);
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    padding-top: 1rem;
    overflow: hidden;
    opacity: 0;
    transform: translateY(20px);
  animation: slideIn 0.6s ease-out forwards;
  }

  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .menu-item:nth-child(1) {
    animation-delay: 0.1s;
  }
  
  .menu-item:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .menu-item:nth-child(3) {
    animation-delay: 0.3s;
  }
  
  .menu-item:nth-child(4) {
    animation-delay: 0.4s;
  }
  
  .menu-item:nth-child(5) {
    animation-delay: 0.5s;
  }
  
  .menu-item:nth-child(6) {
    animation-delay: 0.6s;
  }

  .menu-item::before {
    content: '';
    width: var(--circle-size);
    height: var(--circle-size);
    background-color: var(--circle-color);
    border-radius: 50%;
    display: inline-block;
    margin-right: var(--circle-spacing);
  }

  .menu-item:hover {
    color: var(--circle-color);
    text-decoration: underline var(--circle-color) var(--menu-underline-width);
    text-underline-offset: 4px;
  }

  .menu-item:active {
    color: var(--circle-color);
    text-decoration: underline var(--circle-color) var(--menu-underline-width);
    text-underline-offset: 4px;
  }

  /* form style */

  .form-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    border-color: white;
    border-radius: 8px;
  }

  .form-container h1 {
    font-family: var(--heading-font);
    font-size: var(--h1-font-size);
    margin: var(--h1-margin);
    color: var(--h1-color);
    letter-spacing: var(--h1-letter-specing);
    text-align: left;
    margin-top: 4rem;
    line-height: var(--h1-line-height);

  }

  .form-container p {
    text-align: left;
    font-family: var(--body-font);
    font-size: var(--p-font-size);
    font-weight: var(--p-font-weight);
    letter-spacing: var(--p-letter-spacing);
    line-height: var(--p-line-height);
    color: var(--p-color);
    padding-top: var(--p-padding-top);
    padding-bottom: var(--p-padding-bottom);
  }
  
  .book-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  label {
    font-family: var(--menu-font);
    font-size: var(--menu-font-size);
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
  }
  
  textarea {
    padding: 10px;
    font-family: var(--body-font);
    font-size: var(--p-font-size);
    border: 1px solid #656565;
    outline: none;
    transition: border 0.3s ease;
    color: var(--book-border);
  }
  
  textarea:focus {
    border-color: #0077cc;
    color: var(--body-color);
  }
  
  button.submit-btn {
    padding: 12px;
    font-family: var(--menu-font);
    font-size: var(--menu-font-size);
    text-transform: uppercase;
    text-align: center;
    background-color: #0077cc;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button.submit-btn:hover {
    background-color: #005fa3;
  }

      /* desktop media query */
@media (min-width: 1280px) {
    article h1 {
        font-size: 4.5rem;
        padding-top: 2rem;
        width: 700px;
        margin: auto;
        text-align: center;
        line-height: 4.5rem;
      }
    }
  
  /* Mobile media query */
  @media (max-width: 600px) {
    .container {
      margin: 20px;
      padding: 15px;
    }
  
    h1 {
      font-size: 1.5em;
    }
    
    .book-form {
      gap: 10px;
    }
  }
  
 
/* footer style */

.footer-grid {
    padding-top: 3rem;
  }
  
  .footer-grid p {
    display: grid;
    grid-template-rows: 1fr;
    font-family: var(--menu-font);
    font-size: var(--menu-font-size);
    color: var(--p-color);
    text-transform: uppercase;
    border: 1px solid white;
    font-weight: 300;
    margin: 0;
    padding: 10px;
    text-align: center;
    
  }
  
      /* desktop media query */
      @media (min-width: 1280px) {
    
          .footer-grid {
            padding-top: 2rem;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            margin: auto;
          }
          .footer-grid p {
            font-family: var(--menu-font);
            font-size: var(--menu-font-size);
            color: var(--p-color);
            text-transform: uppercase;
            border: 1px solid white;
            font-weight: 300;
            margin: 0;
            padding: 10px;
            
          }
      }

          @media (min-width: 1280px){
      .footer-grid {
        width: 50%;
      }
    }