/* variable list */
:root {

  /* menu style */
  --menu-bg: black;
  --menu-font: 'DM Mono';
  --menu-text-color: white;
  --menu-font-size: 0.9rem;
  --menu-padding: 1rem;
  --menu-underline-width: 1px;
  --circle-size: 15px;
  --circle-spacing: 0.5rem;

  /* general style */
  --base-size: 20px;
  --arrow-color: white;
  --book-color: white;

  /* font style */
  --heading-font: Instrument Serif;
  --subheading-font: Instrument Serif;
  --section-title-font: Hanken Grotesk;
  --block-quote-font: Instrument Serif;
  --body-font: Hanken Grotesk;
  --book-visual-font-1: Marcellus;
  --book-visual-font-2: Lustria;
  --book-type-font-1: Chivo;
  --book-color-font-1: 'Crimson Text';

  /* color style */
  --body-bg-color: #0F1314;
  --bg-color-1: yellow;
  --bg-color-2: yellow;
  --bg-color-3: yellow;
  --highlight-color: yellow;
  --book-border: #656565;
  --body-color: white;

  /* h1 style */
  --h1-font-size: 2rem;
  --h1-margin: 0;
  --h1-color: white;
  --h1-letter-specing: 1px;
  --h1-line-height: 4rem;

  /* h2 */

  /* h3 */
  --h3-font-size: 1.3rem;
  --h3-font-weight: 400;
  --h3-padding-top: 0.5rem;
  --h3-padding-bottom: 0.5rem;
  --h3-margin: 0;
  --h3-color: white;
  --h3-letter-specing: 0.5px;

  /* paragraph style */
    --p-font-size: 1rem;
    --p-font-weight: 200;
    --p-padding-top: 0.5rem;
    --p-padding-bottom: 0.5rem;
    --p-line-height: 1.5rem;
    --p-letter-spacing: 0.5px;
    --p-color: white;
}
  .main {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  h1 {
    font-family: var(--heading-font);
    font-size: var(--h1-font-size);
    margin: var(--h1-margin);
    color: var(--h1-color);
    letter-spacing: var(--h1-letter-specing);
  }

    /* Desktop media query*/
    @media (min-width: 1280px) {
      h1 {
        font-size: 4rem;
        padding-top: 2rem;
      }
      .colophon-text {
        display: grid;
        column-gap: 2rem;
        grid-template-columns: 0.75fr 1.25fr;
        margin-top: 1.5rem;
        padding-top: 1.5rem;
        width: 70%;
        margin: auto;
      }
      .colophon-text p {
        margin: auto;
        padding-bottom: 30px;
        padding-left: 50px;
      }
    }

h3 {
  font-family: var(--section-title-font);
  font-size: var(--h3-font-size);
  font-weight: var(--h3-font-weight);
  color: var(--h3-color);
  letter-spacing: var(--h3-letter-specing);
  margin: 0.5rem 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

  p {
    font-family: var(--body-font);
    font-size: var(--p-font-size);
    font-weight: var(--p-font-weight);
    color: var(--body-color);
    line-height: var(--p-line-height);
    letter-spacing: var(--p-letter-spacing);
    margin: 1.5rem 1rem;
  }

.indicator {
  font-family: var(--menu-font);
  font-size: var(--menu-font-size);
  color: #656565;
  text-transform: uppercase;
}
/* Arrows style */
.arrows {
    /* margin-top: 1rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
  }
  
  .arrow-1 {
    width: 0.7rem;
    height: 0.7rem;
    border: solid var(--arrow-color);
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
    animation: bounce 1s infinite;
  }
  
  .arrow-2 {
    width: 0.7rem;
    height: 0.7rem;
    border: solid var(--arrow-color);
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
    animation: bounce 1s infinite;
    animation-delay: 0.5s;
  }

@keyframes bounce {
  0%, 100% {
    transform: translateY(0) rotate(45deg);
  }
  50% {
    transform: translateY(5px) rotate(45deg);
  }
}

/* book rack container*/
.book-rack {
    display: flex;
    gap: 0.6rem;
    align-items:end;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  /* book visual */
  .book-visual {
    position: relative;
    width: 120px;
    height: 450px;
    background-color: var(--book-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

.book-visual:hover {
    background-color: #EAFF01;
    color: black;
    transform: rotate(1.5deg);
  }

.center-text {
  font-family: var(--book-visual-font-2);
  color: black;
  font-size: 0.7rem;
  line-height: 1rem;
  padding-top: 20px;
  padding-bottom: 20px;
  }
  
  .text-vertical {
    font-family: var(--book-visual-font-1);
    font-size: 3.5rem;
    line-height: 3.2rem;
    color: var(--text-color);
    text-transform: uppercase;
  }

  /* book type */
  .book-type {
    position: relative;
    width: 40px;
    height: 550px;
    background-color: var(--book-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .book-type:hover {
    background-color: #F4320C;
    color: white;
    transform: rotate(-1.5deg);
  }

  .type-author {
    color: black;
    writing-mode: vertical-lr;
    text-transform: uppercase;
    font-family: var(--book-type-font-1);
    font-weight: 300;
    font-size: 0.7rem;
  }

  .text-horizontal {
    writing-mode: vertical-rl;
    color: black;
    text-transform: uppercase;
    font-family: var(--book-type-font-1);
    font-weight: 600;
  }

  /* book color */
  .book-color {
    position: relative;
    width: 80px;
    height: 500px;
    background-color: var(--book-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    transform: rotate(-1.5deg);
  }

  .book-color:hover {
    background-color: #FF8BCD;
    color: white;
    transform: rotate(0deg);
  }

  .color-author {
    color: black;
    font-family: var(--book-color-font-1);
    font-size: 0.8rem;
    text-transform: uppercase;
    padding-bottom: 20px;
  }

  .color-spine-title {
    writing-mode: vertical-rl;
    color: black;
    padding-top: 20px;
    font-family: var(--book-color-font-1);
    font-size: 2.3rem;
    font-weight: 600;
  }

  /* Empty Books */
  .empty-book-1 {
    position: relative;
    width: 120px;
    height: 600px;
    border: solid 1px;
    border-color: var(--book-border);

  }

  .empty-book-2 {
    position: relative;
    width: 60px;
    height: 500px;
    border: solid 1px;
    border-color: var(--book-border);

  }

  .empty-book-3 {
    position: relative;
    width: 40px;
    height: 470px;
    border: solid 1px;
    border-color: var(--book-border);

  }

  .empty-book-4 {
    position: relative;
    width: 60px;
    height: 520px;
    border: solid 1px;
    border-color: var(--book-border);

  }

  .empty-book-5 {
    position: relative;
    width: 40px;
    height: 570px;
    border: solid 1px;
    border-color: var(--book-border);

  }

  .empty-book-6 {
    position: relative;
    width: 90px;
    height: 520px;
    border: solid 1px;
    border-color: var(--book-border);

  }

  .empty-book-7 {
    position: relative;
    width: 20px;
    height: 400px;
    border: solid 1px;
    border-color: var(--book-border);

  }

  .empty-book-8 {
    position: relative;
    width: 50px;
    height: 600px;
    border: solid 1px;
    border-color: var(--book-border);

  }

  .empty-book-9 {
    position: relative;
    width: 20px;
    height: 600px;
    border: solid 1px;
    border-color: var(--book-border);

  }

  .empty-book-10 {
    position: relative;
    width: 120px;
    height: 550px;
    border: solid 1px;
    border-color: var(--book-border);

  }

  .empty-book-11 {
    position: relative;
    width: 50px;
    height: 485px;
    border: solid 1px;
    border-color: var(--book-border);

  }

  .empty-book-12 {
    position: relative;
    width: 90px;
    height: 520px;
    border: solid 1px;
    border-color: var(--book-border);

  }