
  .main {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  h1 {
    font-family: var(--heading-font);
    font-size: var(--h1-font-size);
    margin: var(--h1-margin);
    color: var(--h1-color);
  }

  p {
    font-family: var(--menu-font);
    font-size: var(--menu-font-size);
    text-transform: uppercase;
    color: var(--menu-text-color);
  }

/* Arrows style */
.arrows {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  
  .arrow-1 {
    width: 0.7rem;
    height: 0.7rem;
    border: solid var(--arrow-color);
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
    animation: bounce 1s infinite;
  }
  
  .arrow-2 {
    width: 0.7rem;
    height: 0.7rem;
    border: solid var(--arrow-color);
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
    animation: bounce 1s infinite;
    animation-delay: 0.5s;
  }

@keyframes bounce {
  0%, 100% {
    transform: translateY(0) rotate(45deg);
  }
  50% {
    transform: translateY(5px) rotate(45deg);
  }
}

/* book rack container*/
.book-rack {
    display: flex;
    gap: 0.6rem;
    align-items:end;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  /* book visual */
  .book-visual {
    position: relative;
    width: 120px;
    height: 450px;
    background-color: var(--book-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

.book-visual:hover {
    background-color: #EAFF01;
    color: black;
  }

.center-text {
    color: black;
    text-transform: uppercase;
    margin: 0.5rem 0;
  }
  
  .text-vertical {
    font-family: var(--bookvisualtitle1-font);
    font-size: 3.5rem;
    color: var(--text-color);
    text-transform: uppercase;
    padding: auto;
  }

  /* book type */
  .book-type {
    position: relative;
    width: 80px;
    height: 350px;
    background-color: var(--book-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .book-type:hover {
    background-color: #F4320C;
    color: white;
  }

  .type-author {
    color: black;
  }

  .text-horizontal {
    writing-mode: vertical-rl;
    color: black;
  }

  /* book interaction */
  .book-interaction {
    position: relative;
    width: 120px;
    height: 250px;
    background-color: var(--book-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .book-interaction:hover {
    background-color: #FF8BCD;
    color: white;
  }

  .interaction-author {
    writing-mode: vertical-rl;
    color: black;
  }

  .interaction-spine-title {
    writing-mode: vertical-rl;
    color: black;
  }


